.info {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.title {
  font-weight: 600 !important;
  font-size: 22px !important;
}

.paper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px !important;
  margin-bottom: 30px;
}

