.content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 600px;
}

.wrapper {
  display: flex;
  padding: 0 30px;
  padding-top: 80px;
}


